.progressbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: auto;
}

.progressbar_static {
	background-color: transparent;
	border: 1px solid black;
	height: 1rem;
}

.progressbar_dynamic {
	height: 100%;
}
