.input {
    display: flex;
    border: 1px solid grey
}

input {
    border: none;
    outline: none
}

input[placeholder="Title..."] {
    width: 7.5rem;
}

input[placeholder="Description..."] {
    width: 15rem;
}

input::placeholder {
    font-style: italic;
}