input {
	border: none;
	outline: none;
}

.input {
	display: flex;
	border: 1px solid grey;
}

.calendar_icon {
	padding-left: 1rem;
	cursor: pointer;
}

.datepicker {
	position: absolute;
	top: 4rem;
	left: 18rem;
}

input[placeholder='Title...'] {
	width: 7.5rem;
}

input[placeholder='Description...'] {
	width: 15rem;
}

input::placeholder {
	font-style: italic;
}
