.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: auto;
}

.static {
	background-color: transparent;
	border: 1px solid black;
	height: 1rem;
}

.dynamic {
	height: 100%;
}
