.todolist {
	display: flex;
	flex-direction: column;
	padding: var(--padding) 4rem;
	border-radius: 0 80px 0 80px;
	background-color: #c3e4b2;
	border: var(--border);
	gap: 0.25rem;
}

.todolist_filter {
	border: var(--border);
	border-radius: 15px;
	font-size: 1.33rem;
	font-style: italic;
	padding: 4px;
	margin: 0 2rem 4rem 2rem;
	background-color: inherit;
	cursor: pointer;
}

.todolist_filter--selected {
	background-color: #8fb37c;
}

.todolist_buttons {
	display: flex;
	justify-content: space-evenly;
}

.todolist_entries {
	display: grid;
	grid-template-columns: 4fr 8fr 1fr 0.5fr 0.5fr;
	border-bottom: 1px solid #b7d5a8;
}

.todolist_categories:first-of-type {
	font-weight: bold;
}

.input {
	display: flex;
	border: 1px solid grey;
}

.input_entries {
	border: none;
	outline: none;
}

.calendar_container {
	display: flex;
	align-items: center;
	gap: 6px;
	margin: 1rem;
	cursor: pointer;
}

.calendar_input {
	border: 1px solid grey;
	outline: none;
	width: 6rem;
	text-align: right;
	padding-right: 4px;
	cursor: default;
}

input[placeholder='Title...'] {
	width: 7.5rem;
}

input[placeholder='Description...'] {
	width: 15rem;
}

.datepicker {
	position: absolute;
	top: 4rem;
	left: 18rem;
}

.progressbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: auto;
}

.progressbar_static {
	background-color: transparent;
	border: 1px solid black;
	height: 1rem;
}

.progressbar_dynamic {
	height: 100%;
}

.trash {
	justify-self: flex-end;
	cursor: pointer;
}
