.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 1%;
	padding: 0 1rem;
	background-color: #adb9a8;
}

.container_input {
	display: flex;
	padding: var(--padding);
	align-items: center;
}

.container_todolist {
	display: flex;
	justify-content: center;
	padding: var(--padding);
}

.button_save {
	border: var(--border);
	border-radius: 5px;
	padding: 3px;
	width: max-content;
	background-color: #8fb37c;
	margin-left: 1rem;
	cursor: pointer;
}
