.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 1%;
	padding: 0 1rem;
	background-color: darkgrey;
}

.input_container {
	display: flex;
	padding: var(--padding);
}

.todolist_container {
	display: flex;
	justify-content: center;
	padding: var(--padding);
}

.button {
	border: 3px;
	border-radius: 4px;
	margin: 1px;
	width: max-content;
	background-color: #a1d088;
	margin-left: 1rem;
	cursor: pointer;
}
